# إخبار جيت هب باعتيار هذه المجلدات كملفات منشأة تلقائياً وتجاهلها في الإحصائيات
android/* linguist-generated=true
ios/* linguist-generated=true
web/* linguist-generated=true
windows/* linguist-generated=true
macof/* linguist-generated=true
linux/* linguist-generated=true

# التأكيد على أن لغة المشروع الأساسية هي دارت
*.dart linguist-detectable=true